<h1>Artists</h1>
<h3>BILLBOARD TOPS</h3>
<%= link_to 'Back to Charts', charts_path %>
<% @artists.each do |artist| %>

  <h2><%= link_to "#{artist.name}", artist_path(artist) %></h2>
 
<% end %>
<%= link_to 'Back to Charts', charts_path %>