<h1>Charts</h1>
<%= link_to 'Artist Index', artists_path %>
<h3>BILLBOARD TOPS</h3>
<hr />
<div class="chartslist">
  <% @charts.each do |chart| %>
    <p><%= chart.title %> - <%= link_to "Show", chart_path(chart) %></p>
    <br />
  <% end %>
</div>
